/*
 * MyCalendar API
 * API для календаря
 *
 * The version of the OpenAPI document: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.Error;
import org.openapitools.client.model.Organization;
import org.openapitools.client.model.OrganizationCreate;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OrganizationApi {
    private ApiClient localVarApiClient;

    public OrganizationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public OrganizationApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for organizationIdPut
     * @param id Идентификатор организции (required)
     * @param organizationCreate  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> ОБновлено </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Ошибка запроса </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call organizationIdPutCall(Long id, OrganizationCreate organizationCreate, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = organizationCreate;

        // create path and map variables
        String localVarPath = "/organization/{id}"
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call organizationIdPutValidateBeforeCall(Long id, OrganizationCreate organizationCreate, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling organizationIdPut(Async)");
        }
        

        okhttp3.Call localVarCall = organizationIdPutCall(id, organizationCreate, _callback);
        return localVarCall;

    }

    /**
     * 
     * Обновить организацию
     * @param id Идентификатор организции (required)
     * @param organizationCreate  (optional)
     * @return Organization
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> ОБновлено </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Ошибка запроса </td><td>  -  </td></tr>
     </table>
     */
    public Organization organizationIdPut(Long id, OrganizationCreate organizationCreate) throws ApiException {
        ApiResponse<Organization> localVarResp = organizationIdPutWithHttpInfo(id, organizationCreate);
        return localVarResp.getData();
    }

    /**
     * 
     * Обновить организацию
     * @param id Идентификатор организции (required)
     * @param organizationCreate  (optional)
     * @return ApiResponse&lt;Organization&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> ОБновлено </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Ошибка запроса </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Organization> organizationIdPutWithHttpInfo(Long id, OrganizationCreate organizationCreate) throws ApiException {
        okhttp3.Call localVarCall = organizationIdPutValidateBeforeCall(id, organizationCreate, null);
        Type localVarReturnType = new TypeToken<Organization>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Обновить организацию
     * @param id Идентификатор организции (required)
     * @param organizationCreate  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> ОБновлено </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Ошибка запроса </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call organizationIdPutAsync(Long id, OrganizationCreate organizationCreate, final ApiCallback<Organization> _callback) throws ApiException {

        okhttp3.Call localVarCall = organizationIdPutValidateBeforeCall(id, organizationCreate, _callback);
        Type localVarReturnType = new TypeToken<Organization>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for organizationPost
     * @param organizationCreate  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Создано </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Ошибка запроса </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call organizationPostCall(OrganizationCreate organizationCreate, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = organizationCreate;

        // create path and map variables
        String localVarPath = "/organization";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call organizationPostValidateBeforeCall(OrganizationCreate organizationCreate, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = organizationPostCall(organizationCreate, _callback);
        return localVarCall;

    }

    /**
     * 
     * Создать организацию
     * @param organizationCreate  (optional)
     * @return Organization
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Создано </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Ошибка запроса </td><td>  -  </td></tr>
     </table>
     */
    public Organization organizationPost(OrganizationCreate organizationCreate) throws ApiException {
        ApiResponse<Organization> localVarResp = organizationPostWithHttpInfo(organizationCreate);
        return localVarResp.getData();
    }

    /**
     * 
     * Создать организацию
     * @param organizationCreate  (optional)
     * @return ApiResponse&lt;Organization&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Создано </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Ошибка запроса </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Organization> organizationPostWithHttpInfo(OrganizationCreate organizationCreate) throws ApiException {
        okhttp3.Call localVarCall = organizationPostValidateBeforeCall(organizationCreate, null);
        Type localVarReturnType = new TypeToken<Organization>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Создать организацию
     * @param organizationCreate  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Создано </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Ошибка запроса </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call organizationPostAsync(OrganizationCreate organizationCreate, final ApiCallback<Organization> _callback) throws ApiException {

        okhttp3.Call localVarCall = organizationPostValidateBeforeCall(organizationCreate, _callback);
        Type localVarReturnType = new TypeToken<Organization>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
